<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Chatbot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts Link For Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
  {{ attach_library('chatbot/chatbot') }}
</head>
<body>
<button class="chatbot-toggler">
  <span class="material-symbols-rounded">mode_comment</span>
  <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
  <header>
    <div class="logo-container">
      <img src="https://play-media.org/wp-content/uploads/2022/07/Drupal-png.webp" alt="Drupal Logo" class="drupal-logo">
    </div>
    <span class="close-btn material-symbols-outlined">close</span>
  </header>
{#  <header>#}
{#    <h2>Chatbot</h2>#}
{#    <span class="close-btn material-symbols-outlined">close</span>#}
{#  </header>#}
  <ul class="chatbox">
    <li class="chat incoming">
      <span class="material-symbols-outlined">smart_toy</span>
      <p>Hi there 👋<br>How can I help you today?</p>
    </li>
  </ul>
{#  <div class="chat-input">#}
{#    <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>#}
{#    <button id="send-btn" class="material-symbols-rounded">send</button>#}
{#    <button id="mic-btn" class="mic-btn material-symbols-rounded">mic</button>#}
{#  </div>#}
  <div class="chat-input">
    <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
    <button id="send-btn" class="material-symbols-rounded">send</button>
    {% if enable_speech_to_text %}
      <button id="mic-btn" class="mic-btn material-symbols-rounded">mic</button>
    {% endif %}
  </div>
  <div class="resize-handle"></div>
</div>
</body>
</html>

{#{{ attach_library('chatbot/chatbot') }}#}


{#<!DOCTYPE html> <html lang="en" dir="ltr"> <head>   <meta charset="utf-8">   <title>Chatbot</title>   <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!-- Google Fonts Link For Icons -->   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />   {{ attach_library('chatbot/chatbot') }} </head> <body> <button class="chatbot-toggler">   <span class="material-symbols-rounded">mode_comment</span>   <span class="material-symbols-outlined">close</span> </button> <div class="chatbot">   <header>     <div class="logo-container">       <img src="https://play-media.org/wp-content/uploads/2022/07/Drupal-png.webp" alt="Drupal Logo" class="drupal-logo">     </div>     <span class="close-btn material-symbols-outlined">close</span>   </header> #}{#  <header>#}{# #}{#    <h2>Chatbot</h2>#}{# #}{#    <span class="close-btn material-symbols-outlined">close</span>#}{# #}{#  </header>#}{#   <ul class="chatbox">     <li class="chat incoming">       <span class="material-symbols-outlined">smart_toy</span>       <p>Hi there 👋<br>How can I help you today?</p>     </li>   </ul>   <div class="chat-input">     <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>     <button id="send-btn" class="material-symbols-rounded">send</button>     <button id="mic-btn" class="mic-btn material-symbols-rounded">mic</button>   </div>   <div class="resize-handle"></div> </div> </body> </html>#}
